#app-tarefas {
  width: 100vw;
  height: 100vh;

  background: #A256EE;

  display: flex;
  align-items: center;
  justify-content: center;
}

#app-tarefas .content-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

#app-tarefas .content-wrapper main {
  display: flex;
  flex-direction: column;
  flex: 1;

  max-height: calc(100% - 128px);

  margin: 0  1px;

  overflow-y: hidden;
}

#app-tarefas .content-wrapper main .tarefa-infos {
  width: 80%;
  height: 180px;
  
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-content: flex-start;

  background: #853FCB;

  margin: 48px auto;
}

#app-tarefas .content-wrapper main .tarefa-infos header {
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;

  border-bottom: #7C3CBC solid 2px;
  
}

#app-tarefas .content-wrapper main .tarefa-infos header h4 {
  font-size: 1em;
  font-weight: 600;
}

#app-tarefas .content-wrapper main .tarefa-infos .left-side {
  height: calc(100% - 40px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  padding-left: 30px;

  border-right: #7C3CBC solid 2px;
}

#app-tarefas .content-wrapper main .tarefa-infos .left-side h4 {
  padding: 9px;
  font-weight: 600;
}

#app-tarefas .content-wrapper main .tarefa-infos .right-side {
  height: calc(100% - 40px);

  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
  flex: 2;

  padding: 8px 0;
}

#app-tarefas .content-wrapper main .tarefa-infos .right-side h4 {
  padding: 0 20px;
  text-align: justify;
  font-size: .9em;
  font-weight: 500;

}

#app-tarefas .content-wrapper main .simplebar-scrollbar::before {
  background-color: #FB8EFD;
  opacity: .9;
}


