* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #F2FAF8;
  background: #853FCB;
}

body, input, button, textarea {
  font: 600 18px Nunito, sans-serif;
}

.clicklable {
  cursor: pointer;
}